# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Development work dir
development_work

# env
.contentful.json
.DS_Store

# auto generate resource
src/static/sitemap.xml
src/static/sw.js